<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kullanıcı Bilgileri</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

  <div id="userInfo">
    <h1 id="userName"></h1>
    <h2 id="userLastName"></h2>
    <!-- Profil fotoğrafını göster -->
    <p>Profil Foto:</p>
    <img id="userProfilFoto" alt="Profil Fotoğrafı" style="max-width: 256px; max-height: 256px;">
  </div>

  <div id="menu">
    <ul>
      <li id="listeBilgi"><a href="#" onclick="printInfo()">Bilgilerim</a></li>
      <li id="listeEgzersiz"><a href="#" onclick="showContent('egzersiz')">Egzersiz Planlarım</a></li>
      <li id="listeMesaj"><a href="#" onclick="showContent('mesajlar')">Mesaj</a></li>
      <li id="listeIlerleme"><a href="#" onclick="ilerleme()">İlerleme</a></li>
    </ul>
  </div>

  <div id="content">

    <h2 id="contentTitle"></h2>
    <p id="contentText"></p>
  </div>

  <div id="mesajlar" style="display: none">

    <button id="mesajYazButon" style="display: block" onclick="openMessageForm()">Mesaj Yaz</button>
    <p>Mesajlar</p>

    <p>Gönderilen Mesajlar</p>
    <ul id="gonderilenMesajListesi">


    </ul>

    <p>Alınan Mesajlar</p>
    <ul id="alinanMesajListesi">


    </ul>

  </div>

  <div id="content">

    <button id="kadwir" style="display: none" onclick="bilgiGuncelleForm()">Bilgilerimi Güncelle</button>
    <h2 id="contentTitle"></h2>
    <p id="contentText"></p>
  </div>

  <div id="ilerleme" style="display: none">

    <button id="guncelle" style="display: block" onclick="openUpdateForm()">Bilgilerimi Güncelle</button>

    
    <h2 id="ilerlemeBaslik">İlerleme</h2>
    <p id="ilerlemeIcerik"></p>

    <p>Geçmiş İlerleme</p>
    <ul id="ilerlemeListesi">

    <canvas id="kiloGrafik" width="400" height="200"></canvas>


    </ul>

  </div>

  <div id="egzersiz" style="display: none">
    
    <h2 id="egzersizBaslik">Egzersiz</h2>
    <p id="egzersizIcerik"></p>
    
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/7A0C9JfVnaY" frameborder="0" allowfullscreen></iframe>-->

    <p>Egzersizler</p>
    <ul id="egzersizListesi">


    </ul>




  </div>


  <div id="message" style="display: none">
    <h2> Mesaj Yaz </h2>
    <form id="messageForm" action="{% url 'danisman_kimlik_dogru' %}" method="post" onsubmit="return mesajGonder()">
      {% csrf_token %}

      <label for="messageText">Büyük Metin Girişi:</label>
      <input type="text" id="messageText" name="messageText">
      <br>
      <style>
        #messageText {
          width: 300px;
          height: 100px;
        }
      </style>

      <label for="messageAlici">Alıcı: </label>
      <input type="text" id="messageAlici" name="messageAlici">
      <br>

      <input type="submit" value="Gönder">
    </form>


  </div>

  <div id="updateForm" style="display: none;">
    <h2> Bilgilerini Güncelle </h2>
    <form id="updateUserInfoForm" action="{% url 'danisman_kimlik_dogru' %}" method="post"
      onsubmit="return showFailurePopup()">
      {% csrf_token %}
      <!-- Güncelleme için input alanları ekle -->
      <label for="kilo">Kilo:</label>
      <input type="text" id="kilo" name="kilo" value="{{ user.kilo }}">
      <br>

      <label for="boy">Boy:</label>
      <input type="text" id="boy" name="boy" value="{{ user.boy }}">
      <br>

      <label for="vucut_yag_orani">Vücut Yağ Oranı:</label>
      <input type="text" id="vucut_yag_orani" name="vucut_yag_orani" value="{{ user.vucut_yag_orani }}">
      <br>

      <label for="kas_kutlesi">Kas Kütlesi:</label>
      <input type="text" id="kas_kutlesi" name="kas_kutlesi" value="{{ user.kas_kutlesi }}">
      <br>

      <label for="vucut_kitle_indeksi">Vücut Kitle İndeksi:</label>
      <input type="text" id="vucut_kitle_indeksi" name="vucut_kitle_indeksi" value="{{ user.vucut_kitle_indeksi }}">
      <br>

      <input type="submit" value="Güncelle" onclick="updateUserInfo()">
    </form>
  </div>


  <div id="bilgiupdate" style="display: none;">
    <h2> Bilgilerini Güncelle </h2>
    <form id="bilgiupdateForm" action="{% url 'danisman_kimlik_dogru' %}" method="post"
      onsubmit="return bilgiGuncelle()">
      {% csrf_token %}
      <!-- Güncelleme için input alanları ekle -->
      <label for="ad">Ad:</label>
      <input type="text" id="ad" name="ad" value="{{ user.ad }}">
      <br>

      <label for="soyad">Soyad:</label>
      <input type="text" id="soyad" name="soyad" value="{{ user.soyad }}">
      <br>

      <label for="email">Email:</label>
      <input type="text" id="email" name="email" value="{{ user.email }}">
      <br>

      <label>Cinsiyet:</label>
      <div class="radio-group">
        <input type="radio" id="erkekRG" name="cinsiyet" value="erkek">
        <label for="erkek">Erkek</label>

        <input type="radio" id="kadinRG" name="cinsiyet" value="kadin">
        <label for="kadin">Kadın</label>
      </div>

      <script>
        if ("{{ user.cinsiyet }}" == "kadin") {
          document.getElementById("kadinRG").checked = true;
        }
        else {
          document.getElementById("erkekRG").checked = true;
        }
      </script>

      <label for="dogumTarihi">Doğum Tarihi:</label>
      <input type="date" id="dogum_tarihi" name="dogum_tarihi" value="{{ user.dogum_tarihi }}">
      <br>

      <label for="profilePhoto">Profil Fotoğrafı Yükle:</label>
      <input type="file" id="profilePhoto" accept="image/*" onchange="handleFileSelect()">
      <img id="previewImage" src="#" alt="Profil Fotoğrafı" style="max-width: 256px; max-height: 256px; display: none;">
      <br>

      <label for="telefon">Telefon:</label>
      <input type="text" id="telefon" name="telefon" value="{{ user.telefon }}">
      <br>

      <input type="submit" value="Güncelle" onclick="updateUserInfo()">
    </form>
  </div>

  <script>

    function padWithLeadingZeros(num, totalLength) {
      return String(num).padStart(totalLength, '0');
    }
    function formatDate(date) {
      return String(padWithLeadingZeros(date.getDay(), 2) + "." + padWithLeadingZeros(date.getMonth(), 2) + "." + padWithLeadingZeros(date.getFullYear(), 4) +
        " " + padWithLeadingZeros(date.getHours(), 2) + ":" + padWithLeadingZeros(date.getMinutes(), 2))
    }

    function toggleByID(id) {

      part = document.getElementById(id)

      if (part.style.display == "none") {
        part.style.display = "block"
      }
      else {
        part.style.display = "none"
      }

    }

  </script>

  <script>
    // Bu bölümde kullanıcı bilgilerini MongoDB'den almak ve sayfaya entegre etmek için backend kodlarına ihtiyaç vardır.
    // Bu örnek sadece frontend tarafını göstermektedir.
    var user = {
      ad: "{{ user.ad }}",
      soyad: "{{ user.soyad }}",
      dogum_tarihi: "{{ user.dogum_tarihi }}",
      cinsiyet: "{{ user.cinsiyet }}",
      email: "{{ user.email }}",
      telefon: "{{ user.telefon }}",
      profilFoto: "{{ user.profil_foto }}",
      kilo: "{{ user.kilo }}",
      boy: "{{ user.boy }}",
      vucut_yag_orani: "{{ user.vucut_yag_orani }}",
      kas_kutlesi: "{{ user.kas_kutlesi }}",
      vucut_kitle_indeksi: "{{ user.vucut_kitle_indeksi }}",
    };

    // Kullanıcının adını ve soyadını görüntüle
    document.getElementById("userName").innerText = user.ad;
    document.getElementById("userLastName").innerText = user.soyad;
    document.getElementById("userProfilFoto").src=user.profilFoto;

    // İçeriği göster
    function showContent(section) {
      toggleByID(section);
    }

    function ilerleme() {
      showContent("ilerleme")
      var infoText = "Kilo: " + user.kilo + "\n"
        + "Boy: " + user.boy + "\n"
        + "Vücut Yağ Oranı: " + user.vucut_yag_orani + "\n"
        + "Kas Kütlesi: " + user.kas_kutlesi + "\n"
        + "Vücut Kitle İndeksi: " + user.vucut_kitle_indeksi + "\n";

      document.getElementById("ilerlemeIcerik").innerText = infoText;
    }

    function printInfo() {
      document.getElementById("kadwir").style.display = "block"

      var infoText = "Ad: " + user.ad + "\n"
        + "Soyad: " + user.soyad + "\n"
        + "Doğum Tarihi: " + user.dogum_tarihi + "\n"
        + "Cinsiyet: " + user.cinsiyet + "\n"
        + "E-posta: " + user.email + "\n"
        + "Telefon: " + user.telefon + "\n";

      document.getElementById("contentText").innerText = infoText;
    }

    function openUpdateForm() {
      document.getElementById("guncelle").style.display = "none"

      document.getElementById("updateForm").style.display = "block";
    }

    function bilgiGuncelleForm() {
      document.getElementById("kadwir").style.display = "none"

      document.getElementById("bilgiupdate").style.display = "block";
    }

    function updateUserInfo() {
      // Form elemanlarına eriş
      var kiloInput = document.getElementById("kilo");
      var boyInput = document.getElementById("boy");
      var vucutYagOraniInput = document.getElementById("vucut_yag_orani");
      var kasKutlesiInput = document.getElementById("kas_kutlesi");
      var vucutKitleIndeksiInput = document.getElementById("vucut_kitle_indeksi");

      // Input değerlerini al
      var updatedKilo = kiloInput.value;
      var updatedBoy = boyInput.value;
      var updatedVucutYagOrani = vucutYagOraniInput.value;
      var updatedKasKutlesi = kasKutlesiInput.value;
      var updatedVucutKitleIndeksi = vucutKitleIndeksiInput.value;

      // Kullanıcı nesnesini güncelle
      user.kilo = updatedKilo;
      user.boy = updatedBoy;
      user.vucut_yag_orani = updatedVucutYagOrani;
      user.kas_kutlesi = updatedKasKutlesi;
      user.vucut_kitle_indeksi = updatedVucutKitleIndeksi;

      // Güncelleme formunu kapat
      document.getElementById("updateForm").style.display = "none";

    }

  </script>

  <script>

    function showFailurePopup() {
      var kiloInput = document.getElementById("kilo");
      var boyInput = document.getElementById("boy");
      var vucutYagOraniInput = document.getElementById("vucut_yag_orani");
      var kasKutlesiInput = document.getElementById("kas_kutlesi");
      var vucutKitleIndeksiInput = document.getElementById("vucut_kitle_indeksi");

      // AJAX ile Django view fonksiyonunu çağır
      fetch('{% url "danisman_kimlik_dogru" %}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}',
        },
        body: JSON.stringify({
          ad: "{{ user.ad }}",
          soyad: "{{ user.soyad }}",
          dogum_tarihi: "{{ user.dogum_tarihi }}",
          cinsiyet: "{{ user.cinsiyet }}",
          email: "{{ user.email }}",
          telefon: "{{ user.telefon }}",
          profilFoto: "{{ user.profil_foto }}",
          kilo: kiloInput.value,
          boy: boyInput.value,
          vucut_yag_orani: vucutYagOraniInput.value,
          kas_kutlesi: kasKutlesiInput.value,
          vucut_kitle_indeksi: vucutKitleIndeksiInput.value,
        })
      })

      return false; // Formun normal submit işlemini engelle
    }
  </script>


  <script>

    function bilgiGuncelle() {
      var adInput = document.getElementById("ad");
      var soyadInput = document.getElementById("soyad");
      var dogumInput = document.getElementById("dogum_tarihi");
      var cinsiyetInput = document.querySelector('input[name="cinsiyet"]:checked');
      var emailInput = document.getElementById("email");
      var telefonInput = document.getElementById("telefon");
      var profilePhotoInput = document.getElementById('profilePhoto');
      var selectedFile = profilePhotoInput.files[0];

      if (selectedFile) {
    convertToBase64(selectedFile, function (base64Image) {
      // Kullanıcı nesnesini base64 görüntü ile güncelle
      user.profilFoto = base64Image;

      // Sayfadaki profil fotoğrafını güncelle
      var previewImage = document.getElementById('previewImage');
      previewImage.src = base64Image;
      previewImage.style.display = 'block';
        console.log(telefonInput.value)
      // Güncellenen kullanıcı verilerini MongoDB'ye kaydet (bunun için bir backend endpoint'e ihtiyacınız vardır)
      saveUserDataToMongoDB(user);

      // Sayfayı yeniden yükle
      location.reload();
    });
  }


      /*// AJAX ile Django view fonksiyonunu çağır
      fetch('{% url "bilgiGuncelle" %}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}',
        },
        body: JSON.stringify({
          ad: adInput.value,
          soyad: soyadInput.value,
          dogum_tarihi: dogumInput.value,
          cinsiyet: cinsiyetInput.value,
          email: emailInput.value,
          telefon: telefonInput.value,
          profilFoto: user.profilFoto,
          kilo: "{{ user.kilo }}",
          boy: "{{ user.boy }}",
          vucut_yag_orani: "{{ user.vucut_yag_orani }}",
          kas_kutlesi: "{{ user.kas_kutlesi }}",
          vucut_kitle_indeksi: "{{ user.vucut_kitle_indeksi }}",
        })
      })

*/
      return false; // Formun normal submit işlemini engelle
    }

    function convertToBase64(file, callback) {
      var reader = new FileReader();
      reader.onloadend = function () {
        callback(reader.result);
      };
      reader.readAsDataURL(file);
  }

// Güncellenen kullanıcı verilerini MongoDB'ye kaydet (bunun için bir backend endpoint'e ihtiyacınız vardır)
function saveUserDataToMongoDB(user) {
  fetch('{% url "bilgiGuncelle" %}', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': '{{ csrf_token }}',
    },
    body: JSON.stringify({
      ad: user.ad,
      soyad: user.soyad,
      dogum_tarihi: user.dogum_tarihi,
      cinsiyet: user.cinsiyet,
      email: user.email,
      telefon: user.telefon,
      profil_foto: user.profilFoto
    }),
  })
  .then(response => response.json())
  .then(data => {
    // Gerekirse yanıtı ele al
  })
  .catch(error => console.error('Kullanıcı verileri güncellenirken hata oluştu:', error));
}
  </script>

  <script>

    function openMessageForm() {
      toggleByID("message")
    }


    function mesajGonder() {
      var mesajInput = document.getElementById("messageText");
      var mesajAliciInput = document.getElementById("messageAlici");

      console.log(mesajAliciInput.value);

      fetch('{% url "mesajYaz" %}', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}',
        },
        body: JSON.stringify({
          mesajText: mesajInput.value,
          mesajAlici: mesajAliciInput.value
        })
      })

      return false;
    }


  </script>

  <script>

    function mesajAl() {
      console.log("31")
      // AJAX ile Django view fonksiyonunu çağır

      fetch('{% url "mesajAl" %}')  // /get_people/ endpoint'inizi uygun şekilde güncelleyin
        .then(response => response.json())
        .then(data => {
          // Verileri alındıktan sonra HTML'e ekle
          var gonderilenMesajListesi = document.getElementById('gonderilenMesajListesi');
          var alinanMesajListesi = document.getElementById('alinanMesajListesi');
          gonderilenMesajListesi.innerHTML = '';  // Mevcut içeriği temizle
          alinanMesajListesi.innerHTML = '';  // Mevcut içeriği temizle

          veri = JSON.stringify(data)
          veri = JSON.parse(veri)
          veri = JSON.parse(veri)

          const alinanMesajlar = veri.alinanMesajlar
          const gonderilenMesajlar = veri.gonderilenMesajlar

          gonderilenMesajlar.forEach(element => {
            console.log(element.mesaj)
          });



          alinanMesajlar.forEach(mesaj => {
            var listItem = document.createElement('li');

            var tarih = new Date(mesaj.tarih)
            tarih = formatDate(tarih)

            listItem.innerHTML = `
                        <div>
                          <p>${mesaj.gondericiAdi} ${mesaj.gondericiSoyadi}</p>
                          <p>Gönderen: ${mesaj.gonderici}</p>
                          <p>Mesaj: ${mesaj.mesaj}</p>
                          <p>Tarih: ${tarih}</p>
                        </div>
                        `;
            alinanMesajListesi.appendChild(listItem);
          });
          gonderilenMesajlar.forEach(mesaj => {
            var listItem = document.createElement('li');

            var tarih = new Date(mesaj.tarih)
            tarih = formatDate(tarih)
            listItem.innerHTML = `
                        <div>
                          <p>${mesaj.gondericiAdi} ${mesaj.gondericiSoyadi}</p>
                          <p>Gönderen: ${mesaj.gonderici}</p>
                          <p>Mesaj: ${mesaj.mesaj}</p>
                          <p>Tarih: ${tarih}</p>
                        </div>
                        `;

            gonderilenMesajListesi.appendChild(listItem);
          });
        })
        .catch(error => console.error('Veri alınamadı:', error));


    }



    document.getElementById('listeMesaj').addEventListener('click', mesajAl);
  </script>

<script>

  function gecmisVeriAl() {
    console.log("31")
    // AJAX ile Django view fonksiyonunu çağır

    fetch('{% url "gecmisVeriAl" %}')  // /get_people/ endpoint'inizi uygun şekilde güncelleyin
      .then(response => response.json())
      .then(data => {
        // Verileri alındıktan sonra HTML'e ekle
        var gecmisVeriListesi = document.getElementById('ilerlemeListesi');
        gonderilenMesajListesi.innerHTML = '';  // Mevcut içeriği temizle

        veri = JSON.stringify(data)
        veri = JSON.parse(veri)
        veri = JSON.parse(veri)
        
        const gecmisVeri = veri


        kiloVeri = []
        tarihVeri = []
        boyVeri = []
        kitleIndeksiVeri = []
        yagOraniVeri = []
        kasKutlesiVeri = []

        console.log(gecmisVeri)

        gecmisVeri.forEach(element => {
          console.log(element.kilo)
        });



        gecmisVeri.forEach(veri1 => {
          var listItem = document.createElement('li');
          var tarih = new Date(veri1.tarih)
          tarih = formatDate(tarih)
          
          kiloVeri.push(veri1.kilo)
          boyVeri.push(veri1.boy)
          kitleIndeksiVeri.push(veri1.vucut_kitle_indeksi)
          yagOraniVeri.push(veri1.vucut_yag_orani)
          kasKutlesiVeri.push(veri1.kas_kutlesi)
          
          
          tarihVeri.push(veri1.tarih)

          listItem.innerHTML = `
                      <div>
                        <p>Kilo:${veri1.kilo}
                           Boy: ${veri1.boy}
                           Vücut Kitle İndeksi: ${veri1.vucut_kitle_indeksi}
                           Vücut Yağ Oranı: ${veri1.vucut_yag_orani}
                           Kas Kütlesi: ${veri1.kas_kutlesi}
                           Tarih: ${tarih}</p>
                      </div>
                      `;
          gecmisVeriListesi.appendChild(listItem);
        });
        
        updateLineChart("kiloGrafik", tarihVeri, kiloVeri, boyVeri, kitleIndeksiVeri, yagOraniVeri, kasKutlesiVeri)
        console.log(kiloVeri)
      })
      .catch(error => console.error('Veri alınamadı:', error));
    }

      function updateLineChart(id, tarihListesi, kiloListesi, boyListesi, vucutKitleIndeksListesi, vucutYagOranListesi, kasKutlesiListesi) {
        // Çizgi grafiği için canvas elementini seç
        var ctx = document.getElementById(id).getContext('2d');

        // Çizgi grafiği oluştur
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: kiloListesi.map((_, index) => tarihListesi[index]), // Etiketleri güncelle
            datasets: [{
              label: 'Kilo',
              data: kiloListesi,
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
              fill: false,
            },
            {
              label: 'Boy',
              data: boyListesi,
              borderColor: 'rgba(0, 0, 0, 1)',
              borderWidth: 1,
              fill: false,
            },

            {
              label: 'Vücut Kitle İndeksi',
              data: vucutKitleIndeksListesi,
              borderColor: 'rgba(31, 31, 180, 1)',
              borderWidth: 1,
              fill: false,
            },

            {
              label: 'Vücut Yağ Oranı',
              data: vucutYagOranListesi,
              borderColor: 'rgba(180, 31, 31, 1)',
              borderWidth: 1,
              fill: false,
            },

            {
              label: 'Kas Kütlesi',
              data: kasKutlesiListesi,
              borderColor: 'rgba(31, 180, 31, 1)',
              borderWidth: 1,
              fill: false,
            }
          
          ]
          },
          options: {
          scales: {
            y: {
              beginAtZero: true // Y eksenini 0'dan başlat
            }
          }
        }
        });
      }




  document.getElementById('listeIlerleme').addEventListener('click', gecmisVeriAl);
</script>

<script>

  function egzersizAlDisable() {
    
  }
  
  function egzersizAl() {
    console.log("aa")
    // AJAX ile Django view fonksiyonunu çağır

    fetch('{% url "egzersizAl" %}')  // /get_people/ endpoint'inizi uygun şekilde güncelleyin
      .then(response => response.json())
      .then(data => {
        // Verileri alındıktan sonra HTML'e ekle
        var egzersizListesi = document.getElementById('egzersizListesi');
        egzersizListesi.innerHTML = '';  // Mevcut içeriği temizle

        veri = JSON.stringify(data)
        veri = JSON.parse(veri)
        veri = JSON.parse(veri)
        
        var egzersizVeri = veri


        var index = 0;
        egzersizVeri.forEach(egzersiz => {
          var listItem = document.createElement('li');

          var tarih = new Date(egzersiz.tarih)
          tarih = formatDate(tarih)

          listItem.innerHTML = `
                      <div>
                        <p>Egzersiz Adı: ${egzersiz.egzersiz_adi}</p>
                        <p>Hedef: ${egzersiz.hedef}</p>
                        <p>Tekrar: ${egzersiz.tekrar}</p>
                        <p>Süre: ${egzersiz.sure}</p>
                        <p>Tarih: ${tarih}</p>
                        <br>
                        <iframe id=${egzersiz.email + String(index++)} width="560" height="315" src="https://www.youtube.com/embed/${egzersiz.video}" frameborder="0" allowfullscreen></iframe>

                      </div>
                      `;
            egzersizListesi.appendChild(listItem);
        });
 
      })
      .catch(error => console.error('Veri alınamadı:', error));
    }

    
  document.getElementById('listeEgzersiz').addEventListener('click', egzersizAl);

</script>

</body>

</html>