<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifremi Unuttum</title>
    
    <!-- Ek stil tanımlamaları buraya eklenebilir -->
</head>
<body>

    <a href="{% url 'oncekiSayfa' %}" class="geriButon">Geri</a>

    <form method="post" action="{% url 'danisman_forgot_password' %}">
        {% csrf_token %}
        <label for="email">E-posta:</label>
        <input type="email" id="email" name="email" required>
        <label for="sifre">sifre:</label>
        <input type="sifre" id="sifre" name="sifre" required>
        <label for="sifreOnay">sifreOnay:</label>
        <input type="sifreOnay" id="sifreOnay" name="sifreOnay" required>

        <button type="submit">Şifremi Sıfırla</button>
    </form>

</body>
</html>
